/*================FOR DARK THEME==============*/
/*.navbar-custom {*/
/*    background-color: #3c4752;*/
/*    box-shadow: none;*/
/*}*/

/*.left-side-menu {*/
/*    width: 250px;*/
/*    background: #37424c;*/
/*}*/
.dropify-wrapper {
    border: 2px dashed #424e5a;
    background: #3b4651;
    border-radius: 6px;
    color: #94a0ad;
    height: 150px;
}
.dropify-wrapper:hover {
    background-image: linear-gradient(-45deg,#424e5a 25%,transparent 25%,transparent 50%,#424e5a 50%,#424e5a 75%,transparent 75%,transparent);
}
.dropify-wrapper .dropify-preview {
    background-color: #364049;
}
/*================FOR DARK THEME END==============*/



body::-webkit-scrollbar {
    width: .5em;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: #02a8b5;
    outline: 1px solid slategrey;
}


@media (min-width: 992px){
    body[data-layout-mode=detached] #wrapper {
        max-width: 98%;
        margin: 0 auto;
    }
}
.form-label{
    font-weight: 500;
}
.required{
    color: #f1556c;
}
.h6, h6 {
    font-size: .85rem;
}
.content {
    margin-top: 30px;
}
.content-page {
    margin-left: 250px;
    padding: 0 0px 65px 15px;
}
.card {
    margin-bottom: 24px;
    box-shadow: none;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #02a8b5;
}
table.dataTable {
    clear: both;
    margin-top: 0px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    padding: 0 0 15px 0;
}
.table-responsive::-webkit-scrollbar {
    width: 1em;
}
.table-responsive::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);
}
.table-responsive::-webkit-scrollbar-thumb {
    background-color: #02a8b5;
    outline: 1px solid slategrey;
}
.table-striped tbody tr.selected {
    background: #3b53db;
    color: #fff;
}

.table-striped tbody tr.selected * {
    color: #fff;
}

.no-display {
    display: none;
}

.close-link {
    cursor: pointer;
}


.product-box img{
    width: 100%;
    object-fit: cover;
}


@media(max-width:767px){
    .card-box {
        padding: .5rem;
    }
}
table.dataTable thead .sorting{
    background-image: none;
}

table.dataTable thead .sorting_asc{
    background-image: none;
}

.page-link {
    font-size: 15px;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 80px!important;
    display: inline-block;
    height: 40px;
    border: 1px solid #e0e3ee;
    margin: 0 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

div.dataTables_wrapper div.dataTables_filter input {
    display: inline-block;
    height: 40px;
    border: 1px solid #e0e3ee;
    margin: 0 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
}

[type=search] {
    outline-offset: 0px;
    -webkit-appearance: none;
    padding: 5px;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #dee2e6;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 15px 10px;
    vertical-align: middle;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #dee2e6!important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, 
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    top: 50%;
    transform: translateY(-50%);
}

@media(max-width: 640px){
    .page-title-box .page-title-right {
        display: block!important;
    }
}

@media(max-width: 500px){
    .page-title-box .page-title-right {
        float: none;
    }
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected td{
    color: #fff;
}
table.dataTable thead .sorting_desc {
    background-image: none;
}


table.dataTable>tbody>tr.child:hover{
    background-color: #02a8b5!important;
    color: #fff;
}

.cl-table table.dataTable>tbody>tr.child {
    background-color: #02a8b5!important;
    color: #fff;
}