table.dataTable {
    clear: both;
    margin-top: 0px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    padding: 0.5px;
}
.table-striped tbody tr.selected{
    background: #3b53db;
    color: #fff;
}
.table-striped tbody tr.selected *{
    color: #fff;
}
.no-display{
    display: none;
}
.close-link{
    cursor: pointer;
}
